@keyframes slideInDown {
    from {
      transform: translate3d(0%, -60%, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0%, 0, 0);
      opacity: 1;
    }
  }
  
  .animated-header {
    animation: slideInDown 1s ease-out forwards;
  }


  @keyframes bounce {
    0%, 100% { transform: translateY(0);
    opacity: 1; }
    50% { transform: translateY(-10px); opacity: 0.82; }
  }
  .bouncing-box {
    animation: bounce 2s infinite ease-in-out;
  }


  @keyframes fadeIn {
    0%{
      transform: translateY(-10px);
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }


  
